* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: #928C6F;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    top: 0;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.8px;
}

nav {
    display: flex;
    gap: 7rem;
}

header a:hover{
    color: #D3FAD6;
    transform: scale(1.1);
    transition: transform .6;
}

section {
    border: 1px solid #C3C48D;
    height: calc(110vh - 5rem);
}

main {
    margin-top: 5rem;
}

section h2 {
    text-align: center;
}

h2{
    color: black;
    text-decoration: underline;
    background-color: #E2DBBE;
}

ul {
    color:black;
    text-align: left;
    line-height: 2.5rem;
    list-style: circle;
    text-decoration: underline;
    background-color: #E2DBBE;
}

ol {
    color: black;
    text-align: left;
    line-height: 1rem;
    background-color: #E2DBBE;
}

thead {
    background-color: #EDEBA0;
    text-align: justify;
    color: black;
}

table {
    border: 1px solid black;
    background-color: #C3C48D;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto;
}

td{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    background-color: #EDEBA0;
}

label {
    font-style:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background: #E2DBBE;
}
